.coin1 {
    width: 63px; height: 66px;
    background: url('../../images/css/css_sprites.png') -66px -150px;
}

.coin2 {
    width: 63px; height: 66px;
    background: url('../../images/css/css_sprites.png') -149px -150px;
}

.cosmo_desc1 {
    width: 135px; height: 46px;
    background: url('../../images/css/css_sprites.png') -120px -10px;
}

.cosmo_desc2 {
    width: 36px; height: 121px;
    background: url('../../images/css/css_sprites.png') -10px -150px;
}

.cosmo_desc3 {
    width: 93px; height: 45px;
    background: url('../../images/css/css_sprites.png') -120px -76px;
}

.cosmo_dev {
    width: 90px; height: 120px;
    background: url('../../images/css/css_sprites.png') -10px -10px;
}

.cosmo1 {
    width: 36px; height: 46px;
    background: url('../../images/css/css_sprites.png') -10px -356px;
}

.crutches {
    width: 53px; height: 40px;
    background: url('../../images/css/css_sprites.png') -84px -291px;
}

.curve_azure {
    width: 25px; height: 93px;
    background: url('../../images/css/css_sprites.png') -352px -10px;
}

.curve_pink {
    width: 25px; height: 93px;
    background: url('../../images/css/css_sprites.png') -352px -123px;
}

.curve_y {
    width: 25px; height: 93px;
    background: url('../../images/css/css_sprites.png') -397px -10px;
}

.enemy_black2 {
    width: 55px; height: 49px;
    background: url('../../images/css/css_sprites.png') -275px -179px;
}

.enemy_purple1 {
  width: 50px;
  height: 30px;
    background: url('../../images/css/css_sprites.png') -10px -291px;
}

.green_l {
    width: 36px; height: 73px;
    background: url('../../images/css/css_sprites.png') -275px -86px;
}

.joystick {
    width: 57px; height: 56px;
    background: url('../../images/css/css_sprites.png') -275px -10px;
}
