@import "fonts";
@import "mixin";
@import "variables";

body {
  @include block_flex ($justify-content: space-between, $direction: column);
  background-color: lighten(black, 30%);
  color: $text-color;
  height: 100vh;
}

header, main, footer, canvas {
  margin: auto;
}



main {
   @include block_flex ($justify-content: space-between, $align-items: center, $direction: column);
}

article {
  margin-top: 30px;
  width: 50%;
}


h1 {
  font-size: 2rem;
  font-family: "Bello-Script", Arial;
  color: $title-color;
  text-transform: uppercase;
  text-align: center;
}

article {
   font-family: Arial;
}

.main-canvas {
  image-rendering: pixelated;
}
